:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-background);
  color: var(--text);
}
.body-main-page {
}
.body-portfolio {
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 1158px;
}
.list {
  list-style-type: none;
}

/* HEADER */

.top-line {
  border-bottom: 1px solid var(--accent);
  display: flex;
}
.nav {
  display: flex;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  padding: 0px;
}
.link {
  text-decoration: none;
}
.black-word {
  color: var(--dark);
}

.menu-nav {
  display: flex;
  gap: 40px;
}
.nav-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.nav-links:hover {
  color: var(--pressed-state);
}
.nav-links:focus {
  color: var(--pressed-state);
}

.our-address {
  font-style: normal;
}
.contact-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.contact-links:hover {
  color: var(--pressed-state);
}
.contact-links:focus {
  color: var(--pressed-state);
}
.address-group {
  display: flex;
}
.t-mail {
}
.t-phone {
}

/* HERO IMAGE */
.hero-image {
  background-color: var(--dark);
}
.hero-header {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white-background);
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 30px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover {
  background-color: var(--pressed-state);
}
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* SECTION 1 */
.section-one {
}
.features {
  display: flex;
}
.feature-one {
}
.feature-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.feature-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.feature-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.feature-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.feature-four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
/* SECTION 2 */
.section-two {
}

.images-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.images {
  display: flex;
}
.img-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.img-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.img-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.rectangle71 {
  box-sizing: border-box;

  border: 1px solid var(--accent);
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* SECTION 3 */
.section-three {
  background-color: var(--light);
}
.team-cards-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.team-cards {
  display: flex;
}
.team-card-items {
  background-color: var(--white-background);
}

/* FOOTER */
.foo {
  background: var(--dark);
}
.foo-text {
}
.foo-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
.white-word {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.foo-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

/* PORTFOLIO PAGE */
.filters {
}
.filters-item {
}
.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
}
.filter-btn:hover {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
.filter-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
.portfolio-img {
}
.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
